<!DOCTYPE html>
<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='delete_profile.css') }}">
<title>Deactivate</title>
</head>
<body>
<div id="title">
<img class = "connect" src = "{{ url_for('static', filename='connect.gif') }}" alt = "connecting Humans worlwide">

<span id="main_header">
	HOWDY
</span>
<span id="header">Connecting People Worldwide</span>
</div>
<div id="delete_profile">
<h1>Deactivate</h1>
<p>Are you sure you want to Deactivate </p>
<input type="submit" value="Yes">
<input type="submit" value="Cancel">
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
We'll be sad to see you go :(
</body>
</html>
