<!DOCTYPE html>
<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <title>
    HOWDY
  </title>
  
  
  
</head>

<body>

<div id="title">
<img class = "connect" src = "{{ url_for('static', filename='connect.gif') }}" alt = "connecting Humans worlwide">

<span id="main_header">
	HOWDY
</span>
<span id="header">Connecting People Worldwide</span>
</div>
<br>
<br>
<br>
<div id="content">
<div class = "window">

<a href="{{ url_for('sign_up') }}">Sign Up</a><br>
<a href="{{ url_for('login_page') }}">Log In</a>
</div>
<div>
<br>
<br>
<br>
<img class = "connecting" src = "{{ url_for('static', filename='connecting.gif') }}" align="right">

</body>


</html>
