

body {
    font-family: "Times New Roman", Times, serif;
background-image: url("background.jpg");
  
} 
h1 {color:black; text-align:center;}
.connect{
width:400px;
height:300px;
}

.connecting{
width:600px;
height:500px;

}
