<!DOCTYPE html>
<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <title>
    HOWDY
  </title>
  
  
  
</head>

<body>
<h1>Our MEET Y2 project</h1>
<h2>HAWDY</h2>
<h3>Connecting People Worldwide</h3>
<img class = "connect" src = "connect.gif" alt = "connecting with people worlwide" align="right" ><br>
<input type="submit" value="Sign Up"><br><br>
<input type="submit" value="Log In">
<br>
<br>
<br>
<img class = "connecting" src = "connecting.gif" align="right"   >

</body>


</html>
