<!DOCTYPE html>
<html>

<body>

<h1> Profile Page</h1><br>
<a href="{{ url_for('main_page') }}">Search</a><br><br>

Username <p>{{user.username}}</p></br>
Bio</br>
<div><p>{{user.bio}}</p></div>
<br>

<table border=1>
<tr><th colspan="2">  Interests</th></tr>
<tr><td>Books</td><td>The kite runner, Looking for Alaska</td>
</tr>
<tr><td>Movies</td></tr>
<tr><td>Hobbies</td></tr>
<tr><td>Music</td></tr>
<tr><td>Food</td></tr>
</table><br><br>

<!-- Status<br>-->
<!-- <div><p>I am tired of CS :(</p></div><br>-->
<!-- Status<br>
<p>Status #2</p><br><br>-->

 

<div>
<a href="{{ url_for('edit_profile') }}">Edit</a>
</div>
<div>
<a href="{{ url_for('main_page') }}">Sign out</a>
</div>


</body>






</html>
